/* i selettori sono inseriti nel foglio css secondo l'ordine della pagina html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial";
    color: #33475B;
}

/* SELETTORI COMUNI A PIU' SEZIONI */
.container {
    width: 1080px;
    height: 100%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.angle-down-icon {
    padding: 0 0 0 7px;
    color: #7C98B6;
    font-size: 22px;
}

.special-button {
    background-color: #ff7a59;
    color: #fff;
    padding: 0.9em 1.388em 0.6em;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover, .special-button:hover {
    opacity: 0.5;
    transition: all .5s ease-in-out;
}

.text-block-style h1, .text-block-style h2 {
    font-weight: 800;
    font-size: 2.5em;
}

.text-block-style p:first-of-type {
    font-size: 1.12rem;
    font-weight: lighter;
    padding-top: 1.3em;
    padding-bottom: 30px;
    line-height: 1.7em;
    opacity: 0.9;
}

.text-block-style p:nth-of-type(2) {
    font-weight: 200;
    font-size: 0.9rem;
    padding-top: 30px;
    line-height: 22px;
}

.text-block-style .special-button {
    text-decoration: none;
    padding: 2em;
}

/* SELETTORI HEADER */
#header-top {
    height: 90px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    z-index: 3;
    width: 100%;
}

#header-top-left {
    width: 30%;
    float: left;
    line-height: 90px;
}

#header-top-right {
    width: 70%;
    float: right;
    text-align: right;
}

#header-top-left li {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding-right: 15px;
}

#header-top-left li:first-child {
    border-right: 2px solid #cbd6e2;
}

#header-top-left li:nth-child(2) {
    padding-left: 10px;
}

#header-top-left li a {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
}

#header-top-right li {
    display: inline-block;
}

#header-top-right a {
    text-decoration: none;
}

#header-top-right .search-button {
    color: #00A4BD;
    margin-right: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    line-height: 90px;
}

#header-top-right .btn {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    font-size: 1rem;
    font-weight: 300;
    background-color: white;
    padding: 0.9em 20px 0.6em;
    border-radius: 5px;
    display: inline-block;
}

#header-bottom {
    padding-top: 90px;
    height: 90px;
    width: 100%;
    background-color: white;
    box-sizing: content-box;
}

#header-bottom .logo-container {
    width: 30%;
    float: left;
}

#header-bottom .logo-container a {
    display: inline-block;
    margin: 28px 0;
}

#header-bottom .main-nav {
    width: 70%;
    float:right;
    text-align: right;
}

#header-bottom .main-nav li {
    display: inline-block;
    height: 90px;
    line-height: 90px;
    padding: 0 18px;
    list-style-type: none;
}

#header-bottom .main-nav a {
    text-decoration: none;
    color: #39475B;
    font-weight: 600;
    font-size: 16px;
}

/* SELETTORI JUMBOTRON */
.jumbotron {
    background-image: url(img/jumbo-background.png);
    background-size: cover;
    background-position: center;
}

.jumbo-contain {
    width: 35%;
    padding: 100px 0 200px 0;
}

/* SELETTORI FEATURES */
#features {
    background-color: #F5F8FA;
    padding: 100px 0 100px 0;
}

#features-top-left {
    width: 30%;
    float: left;
}

#features-top-left h2 {
    font-weight: 700;
    font-size: 1.777rem;
    line-height: 1.3125em;
}

#features-top-left p {
    line-height: 2em;
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 100;
    opacity: 0.9;
}

#features-top-right {
    width: 65%;
    float: right;
}

#features .box {
    padding: 2rem;
    border-radius: 3px;
    background-color: white;
}

#features .box:hover {
    transform:scale(1.1,1.1);
    transition: all .5s ease-in-out;
}

#features .box-top-part {
    height: 60%;
}

#features .box-first-icon {
    width: auto;
    height: auto;
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}

#features .box-title {
    font-size: 1.222rem;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    color: #46596B;
}

#features .box-description {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 18px;
    line-height: 1.6em;
    color: #97A1AB;
}

#features .box-bottom-part {
    height: 40%;
    position: relative;
}

#features .popular-features {
    text-transform: uppercase;
    padding-top: 15px;
    color: #3D5063;
    font-weight: bolder;
    font-size: 13px;
}

#features-top-right .popular-features::after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    width: 500px;
    margin-left: 13px;
}

.features-list {
    display: inline-block;
}

.features-list li {
    display: inline-block;
    list-style-type: none;
    padding-right:15px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.list-style {
    font-size: 1.2em;
    color: #ff7a59;
    padding-right: 5px;
}

#features-top-right .box-bottom-part .special-button {
    width: 40%;
    padding:0.6em 0.2em 0.6em;
    text-align: center;
    position: absolute;
    right: 0px;
}

#features-bottom {
    margin-top: 50px;
}

#features-bottom .box {
    width: 30%;
    float: left;
    margin-right: 2.5%;
}

#features-bottom .box:nth-of-type(2) {
    margin: 0 2.5%;
}

#features-bottom .box:nth-of-type(3) {
    margin:0 0 0 2.5%;
}

#features-bottom h4 + p {
    padding: 30px 0;
    border-bottom: 1px solid rgba(153,172,194,0.2);
}

#features-bottom ul.features-list li {
    display: block;
}

#features-bottom .special-button {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* SELETTORI COMMUNITY */
#community {
    width: 100%;
    background: rgb(0,164,189);
    background: linear-gradient(45deg, rgba(0,164,189,1) 0%, rgba(0,189,165,1) 100%);
    padding: 150px 0 150px 0;
    color: white;
}

#community-text-part-contain {
    width: 65%;
    margin: auto;
    text-align: center;
}

#community-text-part-contain h4 {
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 700;
}

#community-text-part-contain p {
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.6em;
    font-weight: 100;
    color: #CEF8FC;
}

#community-grid-part {
    padding-top: 100px;
}

#community-top-grid {
    border-bottom: 1px solid white;
}

.grid-unit {
    float: left;
    width: 25%;
    border-right: 1px solid white;
    text-align: center;
    padding: 30px;
}

#community-top-grid .grid-unit:nth-child(4),
#community-bottom-grid .grid-unit:nth-child(4) {
    border-right: 0;
}

.grid-text h2 {
    font-size: 3em;
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
}

.grid-text h2::after {
    content: "+";
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-23%);
}

.grid-text p {
    font-size: 1.1em;
    font-weight: 500;
}

/* SELETTORI CUSTOMERS */
#customers {
    padding: 100px 0 100px 0;
}

#customers-text-part {
    float: left;
    width: 30%;
}

#customers-grid-part {
    float: right;
    width: 55%;
}

#customers-text-part h2 {
    font-size: 3.0em;
    line-height: 1.31em;
    font-family: "open sans";
}

#customers-text-part p {
    font-size: 1.4em;
    padding: 10px 0 18px 0;
    line-height: 1.6em;
    font-weight: lighter;
    opacity: 0.9;
}

#customers-text-part p strong {
    font-weight: 600;
}

.customers-grid-unit {
    float: left;
    width: 25%;
    padding: 20px;
}

#customers-grid-part img {
    width: 100%;
    object-fit: contain;
    height: 45.64px;
    line-height: 45.64px;
}

/* SELETTORI CONTENT */
#content {
    padding: 70px 0 120px 0;
}

#content-text-part {
    float: left;
    width: 45%;
    padding: 30px 0;
}

#content-image-part {
    float: left;
    width: 55%;
    text-align: right;
}

#content-text-part.text-block-style h2 {
    font-size: 2em;
}

#content-image-part img {
    width: 60%;
}

/* SELETTORI PER L'ICONA "MESSAGGIO" IN POSITION FIXED */
#chat-button-contain {
    background-color: rgb(66, 91, 118);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: contain;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#chat-button img {
    padding: 15px 0;
}

/* SELETTORI FOOTER */
footer {
    background-color: #33475b;
    padding: 90px 0 60px 0;
    color: #cbd6e2;
}

.footer-list {
    width: 25%;
    float: left;
    font-size: 0.950rem;
    font-weight: 700;
    line-height: 2.8em;
    padding: 0 1rem 0 0;
}

.footer-list h3 {
    color: white;
    font-size: 1.2em;
}

footer li {
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    color: inherit;
}

#footer-title-sub-list {
    color: white;
    font-weight: 100;
}

#footer-title-sub-list span i {
    color: white;
}

.footer-special-button {
    background-color: white;
    color: #33475B;
    width: 100%;
    padding: 0px 3px;
    border-radius: 5px;
    width: 75%;
    display: inline-block;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 25px;
    font-weight: 100;
}

#social-logo li {
    display: inline-block;
    padding: 20px 20px 0 0;
}

#social-logo i {
    font-size: 20px;
}

#footer-top a:not(.footer-special-button):not(#footer-title-sub-list):hover, #footer-languages a:hover, #footer-bottom-right a:hover {
    color: #0091ae;
    transition: all .1s ease-in-out;
}

#footer-languages {
    padding: 2rem 0;
    text-align: center;
    border-bottom: 2px solid #7c98b6;
    margin-bottom: 30px;
}

#footer-languages ul {
    display: inline-block;
}

#footer-languages li {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

#footer-bottom-left {
    float: left;
    width: 50%;
}

#footer-bottom-left p {
    font-size: 0.9em;
    padding-top: 15px;
}

#footer-bottom-right {
    float: right;
    width: 50%;
    text-align: right;
}

#footer-bottom-right li {
    display: inline-block;
    font-weight: 700;
    padding: 15px 20px 0 20px;
}
