* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 180px;
    width: 100%;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header-top {
    height: 90px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    width: 100%;
}

.container {
    width: 1080px;
    height: 100%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

#header-top-left {
    width: 30%;
    line-height: 90px;
    float: left;

}

#header-top-right {
    width: 70%;
    float: left;
    text-align: right;
    line-height: 90px;
}

#header-top-left a {
    color: #33475B;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    line-height: 2.0em;
}

#header-top-left a span:first-child {
    padding-right: 10px;
}

#header-top-left a span:nth-child(2) {
    padding: 0 13px;
    color: #7C98B6;
    font-size: 22px;
}

#header-top-left a:first-child {
    border-right: 2px solid #cbd6e2;
}

#header-top-left a:nth-child(2) {
    margin-left: 10px;
}

#search-button {
    color: #00A4BD;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    padding: 0.9em 1.388em 0.6em;
    border-radius: 5px;
    margin: 0 5px 0 0;
}

.special-button {
    background-color: #ff7a59;
    color: #fff;
    padding: 0.9em 1.388em 0.6em;
    font-size: 1rem;
    border-radius: 5px;
}

.btn:hover, .special-button:hover {
    opacity: 0.5;
}

#header-top-right a {
    text-decoration: none;
}

#header-bottom {
    padding-top: 90px;
    height: 90px;
    width: 100%;
    background-color: white;
    box-sizing: content-box;
}

#logo-container {
    width: 30%;
    float: left;
}

#logo-container img{
    padding: 28px 0;
}



#menu-container {
    width: 70%;
    float:right;
    text-align: right;
}

#menu-container li {
    display: inline-block;
    height: 90px;
    line-height: 90px;
    padding: 0 18px;
    list-style-type: none;
    font-size: 17px;
    font-weight: 500;
}

#menu-container a {
    text-decoration: none;
    color: #39475B;
}

#menu-container ul li a span {
    padding: 0 0 0 7px;
    color: #7C98B6;
    font-size: 22px;
}
